:root {
  --color-bg-html: #000000bb;
  --color-bg-section: #1f1f1fcc;
  --color-bg-body: transparent;
  --color-bg-top-bar: #1f1f1fcc;
  --color-text: #ffffff;
  --color-bg-blank: transparent;

}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: var(--color-bg-html);
}

body {
  display: flex;
  flex-direction: column;
}

p {
  color: var(--color-text);
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.top-bar-container {
  position: fixed;

  width: 100%;
  height: 8%;
  pointer-events: auto;

  background: var(--color-bg-top-bar);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.top-bar {
  display: flex;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

.top-bar .title a {
  font-size: 22px;
  position: relative;
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
}

.top-bar .nav a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.top-bar a.active::after {
  transform: scaleX(1);
}

.top-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.top-bar a:hover::after {
  transform: scaleX(1);
}

.time-line {
  background: #4e56c0bb;
}

.interest-first {
  background: #811844;

}

.interest-second {
  background: #4e56c0bb;
}

.area {
  width: 100%;
  height: 94vh;
}

.welcome {
  height: 100vh;
  background: var(--color-bg-welcome);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome.title.text {
  font-size: 3rem;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  opacity: 0;
}

.blank {
  height: 8vh;
  width: 100%;
  background: transparent;
}

.first {
  background: #630707;
}

.middle {
  background: #811844;
}

.last {
  background: #630707;
}

.section {
  min-height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
  width: 98%;
  height: 100%;
}

.first-section-wrapper {
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
  width: 98%;
  height: 100%;
  margin-top: 18vh;
}

.last-section-wrapper {
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
  width: 98%;
  height: 100%;
  margin-bottom: 10vh;
}

.section-image {
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  border-radius: 15px;
  padding: 8px;
}

.column {
  background: white;
  width: 99%;
  height: 100vh;
}

.left {
  justify-self: start;
  background: #00000060;
}

.middle {
  justify-self: center;
  background: #00000060;
}

.right {
  justify-self: end;
  background: #00000060;
}

.line {
  background: #0d97b9;
  border-radius: 15px;
  justify-self: center;
  width: 10px;
  height: 100%;
}

.dot {
  display: flex;
  background: #0d97b9;
  z-index: 1;
  justify-self: center;
  align-items: start;
  width: 40px;
  height: 20px;
  border-radius: 12px;
  padding: 8px;
}

.time-line-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: center;
  width: 95%;
  height: fit-content;
  padding-top: 18vh;
  padding-bottom: 10vh;
}

.left-content-container {
  display: grid;
  grid-auto-rows: 280px;
  justify-self: left;
  align-items: center;
  background: #5e2d9680;
  gap: 20px;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  width: 98%;
  height: 100%;
}

.right-content-container {
  display: grid;
  grid-auto-rows: 280px;
  justify-self: right;
  align-items: center;
  background: #5e2d9680;
  gap: 20px;
  /* padding-top: 100px; */
  border-radius: 0px 10px 10px 0px;
  padding: 160px 10px 0px 10px;
  width: 98%;
  height: 100%;
}

.left-content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;

}

.left-content.cols-2 {
  grid-template-columns: 25% 75%;
}

.left-content.cols-1 {
  grid-template-columns: 100%;
}

.test {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
}

.right-content {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;

}

.right-content.cols-2 {
  grid-template-columns: 75% 25%;
}

.right-content.cols-1 {
  grid-template-columns: 100%;
}



.time-line p {
  background: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  width: 100%;
  padding: 8px;
}