.middle-container {
  display: grid;
  grid-template-rows: 3% 92% 3%;
  justify-content: center;

  gap: 1%;
}

.line {
  background: #0d97b9;
  border-radius: 15px;
  justify-self: center;
  width: 10px;
  height: 100%;
}

.dot {
  background: #0d97b9;

  width: -webkit-fill-available;
  height: 15px;
  border-radius: 12px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #0d97b9;
}

.middle-container .dot {
  background: #0d97b9;
  justify-self: center;
  width: 25px;
  height: 25px;
  border-radius: 12px;
}

.time-line {
  background: #4e56c0bb;
  display: grid;
  grid-template-columns: 47% 2.5% 47%;
  justify-content: center;
  justify-self: center;
  padding-top: 18vh;
  padding-bottom: 10vh;
}

.left-content-container {
  display: grid;
  grid-auto-rows: 180px;
  align-items: center;
  background: #5e2d9680;
  gap: 20px;
  border-radius: 10px;
}

.right-content-container {
  display: grid;
  grid-auto-rows: 180px;
  align-items: center;
  background: #5e2d9680;
  gap: 20px;
  padding-top: 100px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.left-content {
  display: grid;
  justify-content: right;
  align-items: center;
}

.left-content.cols-3 {
  grid-template-columns: 16% 74% 6%;
  gap: 8px;
}

.left-content.cols-2 {
  grid-template-columns: 90% 6%;
  gap: 16px;
}

.right-content {
  display: grid;
  justify-content: left;
  align-items: center;
}

.right-content.cols-3 {
  grid-template-columns: 6% 74% 16%;
  gap: 8px;
}

.right-content.cols-2 {
  grid-template-columns: 6% 90%;
  gap: 16px;
}

.time-line p {
  background: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  padding: 8px;
}