:root {
  --color-bg-html: #000000bb;
  --color-bg-welcome: linear-gradient(var(--welcome-gradient-angle),
      #3a091e,
      #601030,
      #7d1740,
      #811844,
      #7d1740,
      #601030,
      #3a091e);
  --color-bg-section: #1f1f1fcc;
  --color-bg-body: transparent;
  --color-bg-top-bar: #1f1f1fcc;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: var(--color-bg-html);
}

body {
  background: var(--color-bg-body);
  display: flex;
  flex-direction: column;
}

p {
  color: var(--color-text);
  letter-spacing: 1px;
  line-height: 1.6;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.top-bar-container {
  position: fixed;
  z-index: 1;

  width: 100%;
  height: 8%;
  pointer-events: auto;

  background: var(--color-bg-top-bar);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.top-bar {
  display: flex;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

.top-bar .title a {
  font-size: 22px;
  position: relative;
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
}

.top-bar .nav a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.top-bar a.active::after {
  transform: scaleX(1);
}

.top-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.top-bar a:hover::after {
  transform: scaleX(1);
}

.blue {
  background: #4e56c0bb;
}

.red {
  background: #811844;
}

.interest-second {
  background: #4e56c0bb;
}

.welcome {
  height: 100vh;
  background: var(--color-bg-welcome);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-title-text {
  font-size: 3rem;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  opacity: 0;
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20vh 0px 20vh 0px;
}

.section-container {
  background: var(--color-bg-section);
  display: flex;
  height: fit-content;
  width: 95%;
  border-radius: 15px;
  padding: 20px;
  gap: 8px;
}

.section-text-column {
  margin: auto;
  width: 60%;
  overflow-y: hidden;
}

.section-text {
  font-size: 22px;
  margin: 0px;
  color: #571785;
}

.section-text p {
  font-size: 20px;
  text-align: left;
}

.section-image-column {
  width: 40%;
}

.section-title {
  font-size: 28px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  margin-bottom: 18px;
}

.right {
  text-align: end;
}

.section-text-wrapper {
  display: flex;
  padding: 20px;
}

.section-image-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.section-image {
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  border-radius: 15px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 95%;
  background: var(--color-bg-section);
  border-radius: 15px;
}

.content-area {

  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.title-text {
  font-size: 26px;
  color: #ffffff;
}

.interest-container {
  display: flex;
  flex-wrap: wrap;

  width: 95%;

  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 40px;
}

.interest-image-wrapper {
  display: flex;
  height: 265px;
  width: 265px;

  justify-content: center;
  align-items: center;

  border-radius: 22px;
  background: var(--color-bg-section);
}

.interest-image {
  max-height: 250px;
  max-width: 250px;
  border-radius: 15px;
}

.contact-me {
  display: grid;
  grid-template-rows: auto;
  background: var(--color-bg-section);
  border-radius: 15px;
  gap: 15px;
  padding: 15px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
}

.contact-form textarea {
  padding: 10px;
  overflow: hidden;
  resize: none;
}

button {
  height: 30px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;

}