* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}

html {
  min-height: 100vh;
  background: linear-gradient(135deg,
      #0b3c44,
      #0f5e63,
      #1a7f7a,
      #38b2ac);
}

body {
  background: transparent;
}

h1 {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

p {
  color: #ffffff;
}

.top-bar {
  width: 100%;
  height: 60px;
  background: #1f1f1f;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.page-title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.side-nav {
  background: #2d2d2d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: fit-content;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.side-nav ul {
  padding: 5px;
  list-style: none;
}

.side-nav li {
  margin: 10px;
  margin-block: 20px;
}

.side-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  display: block;
}

.side-nav a:hover {
  background: #3a3a3a;
}

.main.content {
  box-sizing: border-box;
  margin: 100px 0px 40px 200px;
  padding: 40px;

  background-color: rgba(0, 0, 0, 0.471);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main.content h1 {
  margin-bottom: 20px;
}

.content-image {
  display: block;
  margin: auto;

  max-width: 100%;
}