.top-bar-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8%;
  pointer-events: auto;
  background: var(--color-bg-top-bar);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.top-bar {
  display: flex;
  gap: 30px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20vh 0px;
}

.content-area {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.section-container {
  background: var(--color-bg-section);
  display: flex;
  height: fit-content;
  width: 90%;
  border-radius: 15px;
  padding: 20px;
  gap: 8px;
}

.section-text-column {
  margin: auto;
  width: 60%;
  overflow-y: hidden;
}

.section-image-column {
  width: 40%;
}

.section-text-wrapper,
.section-image-wrapper {
  display: flex;
  padding: 20px;
}

.section-image-wrapper {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}