:root {
  --color-bg-html: #000000bb;
  --color-bg-welcome: linear-gradient(var(--welcome-gradient-angle),
      #3a091e,
      #601030,
      #7d1740,
      #811844,
      #7d1740,
      #601030,
      #3a091e);
  --color-bg-section: #1f1f1fcc;
  --color-bg-body: transparent;
  --color-bg-top-bar: #1f1f1fcc;
  --color-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: var(--color-bg-html);
}

body {
  background: var(--color-bg-body);
  display: flex;
  flex-direction: column;
}

p {
  color: var(--color-text);
}

.top-bar-container {
  display: flex;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
  gap: 0px;
}

.top-bar {
  z-index: 1;
  width: 100%;
  height: 8vh;
  min-height: fit-content;
  background: var(--color-bg-top-bar);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.top-bar-main a {
  font-size: 22px;
  position: relative;
  color: var(--color-text);
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  opacity: 1;
  padding: 8px;
}

ul {
  z-index: 1;
  display: flex;
  padding: 0px;
  gap: 10px;
  list-style: none;
}

.top-bar-nav a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.short-about {
  background: #4e56c0bb;
  height: 130vh;
}

.interest {
  height: 100vh;
  background: #811844;

}

.interest-second {
  background: #4e56c0bb;
}

/* aktif underline */
.top-bar-container a.active::after {
  transform: scaleX(1);
}

/* underline */
.top-bar-container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

/* hover */
.top-bar-container a:hover::after {
  transform: scaleX(1);
}

.area {
  width: 100%;
  height: 92vh;
}

.welcome {
  height: 100vh;
  background: var(--color-bg-welcome);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome.title.text {
  font-size: 3rem;
  font-weight: 600;
  background: transparent;
  color: #ffffff;
  opacity: 0;
}

.section-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.section-container {
  background: var(--color-bg-section);
  display: flex;
  height: fit-content;
  width: 95%;
  border-radius: 15px;
  padding: 20px;
  gap: 8px;
}

.section-text-column {
  margin: auto;
  width: 60%;
  overflow-y: hidden;
}

.section-text {
  font-size: 22px;
  margin: 0px;
  color: #571785;
}

.section-text p {
  font-size: 20px;
  text-align: left;
}

.section-image-column {
  width: 40%;
}

.section-title {
  font-size: 28px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  margin-bottom: 18px;
}

.right {
  text-align: end;
}

.section-text-wrapper {
  display: flex;
  padding: 20px;
}

.section-image-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.section-image {
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  border-radius: 15px;
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 95%;
  background: var(--color-bg-section);
  border-radius: 15px;
}

.content-area {

  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

}

.title-text {
  font-size: 26px;
  color: #ffffff;
}

.interest-container {
  display: flex;
  flex-wrap: wrap;

  width: 95%;

  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  gap: 40px;
}

.interest-image-wrapper {
  display: flex;

  border-radius: 23px;
  background: var(--color-bg-section);
  padding: 5px;
}

.interest-image {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}